
   <!-- ******HEADER****** -->
   <header class="header">
    <div class="container">
      <div class="row align-items-center">
      <div class="col">
            <img class="profile-image img-fluid float-start rounded-circle" src="assets/images/profile.png" alt="profile image" />
            <div class="profile-content">
                <h1 class="name">Giovanni Ascarza</h1>
                <h2 class="desc">Full Stack Developer</h2>
                <ul class="social list-inline">
                    <li class="list-inline-item"><a href="https://twitter.com/gascarzah"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/gascarzah/?locale=fr_FR"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/gascarzah"><i class="fab fa-github-alt"></i></a></li>
                    <!-- <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow"></i></a></li> -->
                    <!-- <li class="list-inline-item last-item"><a href="#"><i class="fab fa-codepen"></i></a></li> -->
                </ul>
            </div><!--//profile-->
      </div><!--//col-->
          <div class="col-12 col-md-auto">
            <div class="dark-mode-switch d-flex">
        <div class="form-check form-switch mx-auto mx-md-0">
          <input type="checkbox" class="form-check-input me-2" id="darkSwitch" />
          <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
        </div>
          </div><!--//dark-mode-switch-->
              <a class="btn btn-cta-primary" href="https://www.gascarzah.com/" target="_blank"><i class="fas fa-paper-plane"></i> Contact Me</a>
          </div><!--//col-->
      </div><!--//row-->
    </div><!--//container-->
</header><!--//header-->
  <div class="container sections-wrapper py-5">
      <div class="row">
          <div class="primary col-lg-8 col-12">
              <section class="about section">
                  <div class="section-inner shadow-sm rounded">
                      <h2 class="heading">{{'about-me-head' | translate }}</h2>
                      <div style="white-space: pre-line;" >
                          <p>{{'about-me-body' | translate }}</p>
                      </div><!--//content-->
                  </div><!--//section-inner-->
              </section><!--//section-->



              <section class="experience section">
                <div class="section-inner shadow-sm rounded">
                    <h2 class="heading">{{'work-experience-title' | translate }}</h2>
                    <div class="content">
                      <div class="item">
                        <h3 class="title">{{'work-experience-3.company' | translate }} -
                             {{'work-experience-3.position' | translate }}
                            <span class="year">({{'work-experience-3.date' | translate }})</span>
                        </h3>
                        <ul>
                            <li>{{'work-experience-3.description.paragraph-1' | translate }}</li>
                            <li>{{'work-experience-3.description.paragraph-2' | translate }}</li>
                            <li>{{'work-experience-3.description.paragraph-3' | translate }}</li>
                            <li>{{'work-experience-3.description.paragraph-4' | translate }}</li>
                            <li>{{'work-experience-3.description.paragraph-5' | translate }}</li>
                            <li>{{'work-experience-3.description.paragraph-6' | translate }}</li>
                        </ul>
                    </div>
                    <!--//item-->
                    <div class="item">
                      <h3 class="title">{{'work-experience-2.company' | translate }} -
                            {{'work-experience-2.position' | translate }}
                          <span class="year">({{'work-experience-2.date' | translate }})</span>
                      </h3>
                      <ul>
                          <li>{{'work-experience-2.description.paragraph-1' | translate }}</li>
                          <li>{{'work-experience-2.description.paragraph-2' | translate }}</li>
                      </ul>
                  </div>
                  <!--//item-->
                  <div class="item">
                    <h3 class="title">{{'work-experience-1.company' | translate }} -
                          {{'work-experience-1.position' | translate }}
                        <span class="year">({{'work-experience-1.date' | translate }})</span>
                    </h3>
                    <ul>
                        <li>{{'work-experience-1.description.paragraph-1' | translate }}</li>
                        <li>{{'work-experience-1.description.paragraph-2' | translate }}</li>
                    </ul>
                </div>
                <!--//item-->

                    </div><!--//content-->
                    <p><a class="btn btn-cta-secondary" href="{{'linkedin' | translate }}" target="_blank"><i class="fas fa-external-link-alt"></i>More on Linkedin</a></p>
                </div><!--//section-inner-->
            </section><!--//section-->


            <section class="projects section">
              <div class="section-inner shadow-sm rounded">
                  <h2 class="heading">{{'work-freelance-title' | translate }}</h2>
                  <div class="content">
                      <div class="item">
                          <p class="summary">Ces projets ont &eacute;t&eacute; d&eacute;velopp&eacute; pour aider &agrave; la gestion de quelques affaires, ce sont premi&egrave;res versions que j'am&eacute;liorerai &agrave; l'avenir</p>
                          <div class="d-flex justify-content-between ">
                              <h3 class="title">{{'work-freelance-5.title' | translate }}</h3>
                              <h3 class="title ">
                              <a href="{{'work-freelance-5.frontend-url' | translate }}"
                                  target="_blank"><span class="level-label"
                                  data-bs-toggle="tooltip" data-bs-placement="left"
                                  title="Code frontend sur github">
                                  <i class="far fa-file-code"></i></span> </a>
                                  <a href="{{'work-freelance-5.backend-url' | translate }}"
                                  target="_blank"><span class="level-label"
                                  data-bs-toggle="tooltip" data-bs-placement="left"
                                  title="Code backend sur github"><i class="fas fa-code"></i></span> </a>
                              </h3>
                              </div>

                          <p>{{'work-freelance-5.description.paragraph-1' | translate }}<br>
                            {{'work-freelance-5.description.paragraph-2' | translate }} <br>
                            {{'work-freelance-5.description.paragraph-3' | translate }} <br>
                            {{'work-freelance-5.description.paragraph-4' | translate }}<br>
                            {{'work-freelance-5.description.paragraph-5' | translate }}<br>
                            {{'work-freelance-5.description.paragraph-6' | translate }}<br>
                          </p>
                          <p><a class="more-link" href="{{'work-freelance-5.demo-url' | translate }}" target="_blank"><i
                                  class="fas fa-external-link-alt"></i>D&eacute;mo en direct</a></p>
                      </div>
                      <!--//item-->

                      <div class="item">
                        <p class="summary">Ces projets ont &eacute;t&eacute; d&eacute;velopp&eacute; pour aider &agrave; la gestion de quelques affaires, ce sont premi&egrave;res versions que j'am&eacute;liorerai &agrave; l'avenir</p>
                        <div class="d-flex justify-content-between ">
                            <h3 class="title">{{'work-freelance-4.title' | translate }}</h3>
                            <h3 class="title ">
                            <a href="{{'work-freelance-4.frontend-url' | translate }}"
                                target="_blank"><span class="level-label"
                                data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Code frontend sur github">
                                <i class="far fa-file-code"></i></span> </a>
                                <a href="{{'work-freelance-4.backend-url' | translate }}"
                                target="_blank"><span class="level-label"
                                data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Code backend sur github"><i class="fas fa-code"></i></span> </a>
                            </h3>
                            </div>

                        <p>{{'work-freelance-4.description.paragraph-1' | translate }}<br>
                          {{'work-freelance-4.description.paragraph-2' | translate }} <br>
                          {{'work-freelance-4.description.paragraph-3' | translate }} <br>
                          {{'work-freelance-4.description.paragraph-4' | translate }}<br>
                          {{'work-freelance-4.description.paragraph-5' | translate }}<br>
                          {{'work-freelance-4.description.paragraph-6' | translate }}<br>
                        </p>
                        <p><a class="more-link" href="{{'work-freelance-4.demo-url' | translate }}" target="_blank"><i
                                class="fas fa-external-link-alt"></i>D&eacute;mo en direct</a></p>
                    </div>
                    <!--//item-->


                    <div class="item">
                      <p class="summary">Ces projets ont &eacute;t&eacute; d&eacute;velopp&eacute; pour aider &agrave; la gestion de quelques affaires, ce sont premi&egrave;res versions que j'am&eacute;liorerai &agrave; l'avenir</p>
                      <div class="d-flex justify-content-between ">
                          <h3 class="title">{{'work-freelance-3.title' | translate }}</h3>
                          <h3 class="title ">
                          <a href="{{'work-freelance-3.frontend-url' | translate }}"
                              target="_blank"><span class="level-label"
                              data-bs-toggle="tooltip" data-bs-placement="left"
                              title="Code frontend sur github">
                              <i class="far fa-file-code"></i></span> </a>
                              <a href="{{'work-freelance-3.backend-url' | translate }}"
                              target="_blank"><span class="level-label"
                              data-bs-toggle="tooltip" data-bs-placement="left"
                              title="Code backend sur github"><i class="fas fa-code"></i></span> </a>
                          </h3>
                          </div>

                      <p>{{'work-freelance-3.description.paragraph-1' | translate }}<br>
                        {{'work-freelance-3.description.paragraph-2' | translate }} <br>
                        {{'work-freelance-3.description.paragraph-3' | translate }} <br>
                        {{'work-freelance-3.description.paragraph-4' | translate }}<br>
                        {{'work-freelance-3.description.paragraph-5' | translate }}<br>
                        {{'work-freelance-3.description.paragraph-6' | translate }}<br>
                      </p>
                      <p><a class="more-link" href="{{'work-freelance-3.demo-url' | translate }}" target="_blank"><i
                              class="fas fa-external-link-alt"></i>D&eacute;mo en direct</a></p>
                  </div>
                  <!--//item-->


                  <div class="item">
                    <p class="summary">Ces projets ont &eacute;t&eacute; d&eacute;velopp&eacute; pour aider &agrave; la gestion de quelques affaires, ce sont premi&egrave;res versions que j'am&eacute;liorerai &agrave; l'avenir</p>
                    <div class="d-flex justify-content-between ">
                        <h3 class="title">{{'work-freelance-2.title' | translate }}</h3>
                        <h3 class="title ">
                        <a href="{{'work-freelance-2.frontend-url' | translate }}"
                            target="_blank"><span class="level-label"
                            data-bs-toggle="tooltip" data-bs-placement="left"
                            title="Code frontend sur github">
                            <i class="far fa-file-code"></i></span> </a>
                            <a href="{{'work-freelance-2.backend-url' | translate }}"
                            target="_blank"><span class="level-label"
                            data-bs-toggle="tooltip" data-bs-placement="left"
                            title="Code backend sur github"><i class="fas fa-code"></i></span> </a>
                        </h3>
                        </div>

                    <p>{{'work-freelance-2.description.paragraph-1' | translate }}<br>
                      {{'work-freelance-2.description.paragraph-2' | translate }} <br>
                      {{'work-freelance-2.description.paragraph-3' | translate }} <br>
                      {{'work-freelance-2.description.paragraph-4' | translate }}<br>
                      {{'work-freelance-2.description.paragraph-5' | translate }}<br>
                      {{'work-freelance-2.description.paragraph-6' | translate }}<br>
                    </p>
                    <p><a class="more-link" href="{{'work-freelance-2.demo-url' | translate }}" target="_blank"><i
                            class="fas fa-external-link-alt"></i>D&eacute;mo en direct</a></p>
                </div>
                <!--//item-->

                <div class="item">
                  <p class="summary">Ces projets ont &eacute;t&eacute; d&eacute;velopp&eacute; pour aider &agrave; la gestion de quelques affaires, ce sont premi&egrave;res versions que j'am&eacute;liorerai &agrave; l'avenir</p>
                  <div class="d-flex justify-content-between ">
                      <h3 class="title">{{'work-freelance-1.title' | translate }}</h3>
                      <h3 class="title ">
                      <a href="{{'work-freelance-1.frontend-url' | translate }}"
                          target="_blank"><span class="level-label"
                          data-bs-toggle="tooltip" data-bs-placement="left"
                          title="Code frontend sur github">
                          <i class="far fa-file-code"></i></span> </a>
                          <a href="{{'work-freelance-1.backend-url' | translate }}"
                          target="_blank"><span class="level-label"
                          data-bs-toggle="tooltip" data-bs-placement="left"
                          title="Code backend sur github"><i class="fas fa-code"></i></span> </a>
                      </h3>
                      </div>

                  <p>{{'work-freelance-1.description.paragraph-1' | translate }}<br>
                    {{'work-freelance-1.description.paragraph-2' | translate }} <br>
                    {{'work-freelance-1.description.paragraph-3' | translate }} <br>
                    {{'work-freelance-1.description.paragraph-4' | translate }}<br>
                    {{'work-freelance-1.description.paragraph-5' | translate }}<br>
                    {{'work-freelance-1.description.paragraph-6' | translate }}<br>
                  </p>
                  <p><a class="more-link" href="{{'work-freelance-1.demo-url' | translate }}" target="_blank"><i
                          class="fas fa-external-link-alt"></i>D&eacute;mo en direct</a></p>
              </div>
              <!--//item-->

                      <a class="btn btn-cta-secondary" href="https://github.com/gascarzah?tab=repositories"
                          target="_blank">Plus sur GitHub <i class="fas fa-chevron-right pt-1"></i></a>
                  </div>
                  <!--//content-->
              </div>
              <!--//section-inner-->
          </section>
          <!--//section-->


              <section class="github section">
                  <div class="section-inner shadow-sm rounded">
                      <h2 class="heading">My GitHub</h2>
                      <p>You can embed your GitHub contribution graph calendar using IonicaBizau's <a href="https://github.com/IonicaBizau/github-calendar" target="_blank">GitHub Calendar</a> widget.
<!--//github-graph-->
                      <div id="github-graph" class="github-graph"></div>


                      <p>You can also embed your GitHub activities using Casey Scarborough's <a href="https://github.com/caseyscarborough/github-activity" target="_blank">GitHub Activity Stream</a> widget.
                      <!--//Usage: https://caseyscarborough.com/projects/github-activity/ -->
                      <div id="ghfeed" class="ghfeed">
                      </div><!--//ghfeed-->

                  </div><!--//secton-inner-->
              </section><!--//section-->
          </div><!--//primary-->
          <div class="secondary col-lg-4 col-12">
               <aside class="info aside section">
                  <div class="section-inner shadow-sm rounded">
                      <h2 class="heading sr-only">Basic Information</h2>
                      <div class="content">
                          <ul class="list-unstyled">
                              <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>Lima, Peru</li>
                              <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:gascarzah@gmail.com">gascarzah@gmail.com</a></li>
                              <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="https://www.gascarzah.com">https://www.gascarzah.com</a></li>
                          </ul>
                      </div><!--//content-->
                  </div><!--//section-inner-->
              </aside><!--//aside-->

              <aside class="skills aside section">
                  <div class="section-inner shadow-sm rounded">
                      <h2 class="heading">Skills</h2>
                      <div class="content">
                          <p class="intro">
                            {{'competences-intro' | translate }}
                          <div class="skillset">

                            <div class="item logo">
                              <img src="../../../assets/images/it/angular.png" height="50" width="50" />
                              <img src="../../../assets/images/it/react.png" height="50" width="50"/>
                              <img src="../../../assets/images/it/javascript.png" height="50" width="50"/>
                              <img src="../../../assets/images/it/typescript.png" height="50" width="50"/>
                              <!--//level-bar-->
                              </div><!--//item-->
                              <div class="item logo">

                                <img src="../../../assets/images/it/java.png" height="60" width="60" />
                                <img src="../../../assets/images/it/spring.png" height="60" width="60"/>
                                <img src="../../../assets/images/it/nodejs.png" height="60" width="60"/>

                                <!--//level-bar-->
                                </div><!--//item-->
                                <div class="item logo">

                                  <img src="../../../assets/images/it/oracle.png" height="80" width="80" />
                                  <img src="../../../assets/images/it/mysql.png" height="80" width="80"/>
                                  <img src="../../../assets/images/it/postgrse.png" height="80" width="100"/>

                                  <!--//level-bar-->
                                  </div><!--//item-->
                              <p><a class="more-link" href="#"><i class="fas fa-external-link-alt"></i>More on GitHub</a></p>
                          </div>
                      </div><!--//content-->
                  </div><!--//section-inner-->
              </aside><!--//section-->



              <aside class="education aside section">
                  <div class="section-inner shadow-sm rounded">
                      <h2 class="heading">Education</h2>
                      <div class="content">
                          <div class="item">
                              <h3 class="title"><i class="fas fa-graduation-cap"></i> MSc Computer Science</h3>
                              <h4 class="university">Universidad Ricardo Palma <span class="year">(2016-2017)</span></h4>
                          </div><!--//item-->
                          <div class="item">
                              <h3 class="title"><i class="fas fa-graduation-cap"></i> BSc Computer Science</h3>
                              <h4 class="university">Universidad de San Martin de Porres <span class="year">(2000-2006)</span></h4>
                          </div><!--//item-->
                      </div><!--//content-->
                  </div><!--//section-inner-->
              </aside><!--//section-->

              <aside class="languages aside section">
                  <div class="section-inner shadow-sm rounded">
                      <h2 class="heading">Languages</h2>
                      <div class="content">
                          <ul class="list-unstyled">
                              <li class="item">
                                  <span class="title"><strong>English:</strong></span>
                                  <span class="level">Native Speaker <br class="visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </span>
                              </li><!--//item-->
                              <li class="item">
                                <span class="title"><strong>Frecn:</strong></span>
                                <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half"></i></span>
                            </li><!--//item-->
                              <li class="item">
                                  <span class="title"><strong>Spanish:</strong></span>
                                  <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half"></i></span>
                              </li><!--//item-->
                          </ul>
                      </div><!--//content-->
                  </div><!--//section-inner-->
              </aside><!--//section-->






          </div><!--//secondary-->
      </div><!--//row-->
  </div><!--//masonry-->

  <!-- ******FOOTER****** -->
  <footer class="footer">
      <div class="container text-center">
              <!--/* This template is free as long as you keep the attribution link below. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
              <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
      </div><!--//container-->
  </footer><!--//footer-->

